.mainimgAbout{
  max-width: 100%;
  border-radius: 100px;
  max-height: 590px;
}
@media (max-width: 992px) {
  .mainimgAbout{
    width: 496px;
    height: 621px;
  }
}
@media (max-width: 991px) {
  .mainimgAbout{
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 900px) {
  .mainimgAbout{
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .mainimgAbout{
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .mainimgAbout{
    width: 300px;
    height: 300px;
  }
}

.skillImg{
  border-radius: 100px;
  margin: 3px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  user-select: none;
  max-height: 23px;
}
.skillImg:hover {
  transform: scale(1.1) rotate(-5deg);
  transition: all 200ms ease;
}

.skillext{
  border: 2px solid rgb(38, 62, 99);
  border-radius: 100px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 3px;
  background-color:rgb(38, 62, 99);
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  user-select: none;
  max-height: 23px;
}


.skillext:hover {
  transform: scale(1.1) rotate(-5deg);
  transition: all 200ms ease;
}

.btndown{
  font-size: 10px;
}
.tAbout{
font-size: 33px;
}