.mainimg{
  width: 80%;
  height: auto;
}

.tv {
  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 10px 10px rgba(0,0,0,.15);
  transition: all .3s ease;
}
.tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.45);
}