.mainimg{
  width: 80%;
  height: auto;
}

/* .module-border-wrap {
  position: relative;
  background: linear-gradient(to right, rgb(35, 35, 115), rgb(0, 0, 0));
  padding: 3px;
  border-radius: 10px;
}

.module {
  background: rgb(79,149,208);
  color: white;
  border-radius: 10px;
} */

.tv {
  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 10px 10px rgba(0,0,0,.15);
  transition: all .3s ease;
}
.tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.45);
}