.logo{
  border-radius: 15px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.sublink:hover{
  color: rgb(255, 255, 255) !important;
}
.lista{
  background-color: rgb(33,37,41);
}
.list:hover{
  background-color: rgb(87, 87, 87);
}

.borde{
  border: 1px solid rgb(255, 255, 255)!important;
}